@font-face{
	font-family: MachineGunk ;
	src: url('MachineGunk-nyqg.ttf');
}
@font-face{
	font-family: MoonHouse ;
	src: url('Moonhouse-yE5M.ttf');
}

@font-face{
	font-family: Taarget ;
	src: url('TarrgetRegular-WEOz.otf');
}
@font-face{
	font-family: Montserrat ;
	src: url('Montserrat-Bold.otf');
}
